<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.CartMapper">
    <select id="listCartsByUserId" resultType="org.example.domain.shop.vo.CartQo">
        SELECT c.id,shop_item_id,shop_id,amount,s.name as shop_item_name,price,shop.name as shop_name
        from cart c
        LEFT JOIN shop_item s on c.shop_item_id = s.id
        left join shop on shop.id = s.shop_id
        where c.user_id = #{userId}
    </select>

    <!-- 分页查询-自定义sql-Wrapper -->
    <select id="selpageCustomSqlByWrapper" resultType="org.example.domain.Cart">
        select * from cart t ${ew.customSqlSegment}

    </select>

    <!-- 分页查询-自定义sql-Map -->
    <select id="selpageCustomSqlByMap" resultType="org.example.domain.Cart">
        select * from cart t where id=#{params.id} and name=#{params.name}
    </select>
</mapper>
