<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.ShopMapper">
    <!-- 分页查询-自定义sql-Wrapper -->
    <select id="selpageCustomSqlByWrapper" resultType="org.example.domain.shop.Shop">
        select * from shop t ${ew.customSqlSegment}
    </select>

    <!-- 分页查询-自定义sql-Map -->
    <select id="selpageCustomSqlByMap" resultType="org.example.domain.shop.Shop">
        select * from shop t where id=#{params.id} and name=#{params.name}
    </select>

<!--    根据传参判断或者改为三表联查判断是不是父类-->
    <select id="listShopsByCategoryId" resultType="org.example.domain.shop.Shop">
        select *
        from shop join shop_category on shop.id = shop_category.shop_id
        <if test="isParentId">
            where shop_category.category_id in (
            SELECT id
            from category
            where parent_id = #{categoryId}
            )
        </if>
        <if test="!isParentId">
            where shop_category.category_id = #{categoryId}
        </if>
    </select>

    <resultMap id="ShopWithShopItemMap" type="org.example.domain.shop.vo.ShopWithItemVO">
        <id column="id"></id>
        <!-- 一对一关联 外键-->
        <association property="shop" javaType="org.example.domain.shop.Shop">
            <id column="shop_id" property="id"></id>
            <result column="shop_name" property="name"></result>
            <result column="shop_picture" property="picture"></result>
        </association>
        <!-- 一对多关联 外键-->
        <collection property="shopItems" ofType="org.example.domain.shop.ShopItem">
            <result column="name" property="name"></result>
            <result column="picture" property="picture"></result>
            <result column="description" property="description"></result>
            <result column="price" property="price"></result>
            <result column="amount" property="amount"></result>
        </collection>
    </resultMap>
    <!-- type 0 购物车 ，1 收藏-->
    <select id="listShopWithShopItemByUserId" resultMap="ShopWithShopItemMap">
        SELECT c.id,
            <if test="type != null and type == 0">
                c.amount,
            </if>
           s.id as shop_id, s.name as shop_name, s.picture as shop_picture,
           si.name, si.picture,si.description,si.price
        FROM shop_item si
        INNER JOIN shop s on s.id = si.shop_id
        <if test="type != null and type == 0">
            INNER JOIN cart c on si.id = c.shop_item_id
        </if>
        <if test="type != null and type == 1">
            INNER JOIN collection c on si.id = c.shop_item_id
        </if>
        where c.user_id = #{userId}
    </select>

</mapper>
