<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.OrderInfoMapper">
    <!-- OrderItemList -->
    <resultMap id="OrderItemMap" type="org.example.domain.order.OrderItem">
        <id column="id"></id>
        <result column="amount" property="amount"></result>
        <!--        一对一关联 外键-->
        <association property="shopItem" javaType="org.example.domain.shop.ShopItem">
            <result column="name" property="name"></result>
            <result column="picture" property="picture"></result>
            <result column="description" property="description"></result>
            <result column="price" property="price"></result>
            <result column="category_name" property="categoryName"></result>
        </association>
    </resultMap>

    <select id="getDataNearlySevenDays" resultType="org.example.params.GetDataNearlySevenDaysResult">
        select d.date, IFNULL(T.total,0) total, IFNULL(T.num,0) num from
            (
                SELECT CURDATE() AS date
                UNION ALL
                SELECT DATE_SUB(CURDATE(), INTERVAL 1 DAY) AS date
                UNION ALL
                SELECT DATE_SUB(CURDATE(), INTERVAL 2 DAY) AS date
                UNION ALL
                SELECT DATE_SUB(CURDATE(), INTERVAL 3 DAY) AS date
                UNION ALL
                SELECT DATE_SUB(CURDATE(), INTERVAL 4 DAY) AS date
                UNION ALL
                SELECT DATE_SUB(CURDATE(), INTERVAL 5 DAY) AS date
                UNION ALL
                SELECT DATE_SUB(CURDATE(), INTERVAL 6 DAY) AS date
            )  d
                left join(
                select DATE_FORMAT(order_time,'%Y-%m-%d') as order_time, sum(total_charge) as total, count(*) as num
                from order_info
                where shop_id = #{shopId}
                group by DATE_FORMAT(order_time,'%Y-%m-%d')
            ) T on T.order_time = d.date
        GROUP BY d.date
        order by d.date asc
    </select>

    <select id="getHotItemData" resultType="org.example.params.GetHotItemDataResult">
        SELECT name ,total as value
        from shop_item si
         right JOIN (
            SELECT shop_item_id, sum(total) as total
            FROM `order_shop_item` osi
            LEFT JOIN order_info oi on oi.id = osi.order_id
            where shop_id = #{shopId}
            GROUP BY shop_item_id
            ORDER BY total desc
            LIMIT 5
        ) t on t.shop_item_id = si.id
    </select>


    <select id="getEarningsData" resultType="org.example.vo.EarningsDataVo">
        SELECT sum(total_charge) as total, COUNT(*) as num, sum(delivery_charge) as deliveryChargeTotal
        from order_info
        <where>
            <if test="params.shopId != null and params.shopId != ''">
                and shop_id = #{params.shopId}
            </if>
            <if test="params.riderId != null and params.riderId != ''">
                and rider_id = #{params.riderId}
            </if>
        </where>
    </select>

    <!-- 分页查询-自定义sql-Wrapper -->
    <select id="selpageCustomSqlByWrapper" resultType="org.example.domain.order.OrderInfo">
        select * from order_info t ${ew.customSqlSegment}
    </select>

    <!-- 分页查询-自定义sql-Map -->
    <select id="selpageCustomSqlByMap" resultType="org.example.domain.order.OrderInfo">
        select * from order_info t where id=#{params.id} and name=#{params.name}
    </select>



    <select id="listOrderItemById" resultMap="OrderItemMap">
        SELECT s.id,name, picture, description, price,category_name, amount
        FROM shop_item i
        INNER JOIN order_shop_item s on s.shop_item_id = i.id
        INNER JOIN order_info o on o.id = s.order_id
        <where>
            <if test="params.id != null and params.id != ''">
                and o.id = #{params.id}
            </if>
            <if test="params.userId != null and params.userId != ''">
                and o.user_id = #{params.userId}
            </if>
            <if test="params.shopId != null and params.shopId != ''">
                and o.shop_id = #{params.shopId}
            </if>
            <if test="params.deliveryRiderId != null and params.deliveryRiderId != ''">
                and o.delivery_rider_id = #{params.deliveryRiderId}
            </if>
        </where>
    </select>




</mapper>
